<%- include('./component/header.ejs') %>





  <form method="POST" action="/feed">
    <div class="mb-3" id="mb3">
      <h5>Add a post</h5>
      <br>

      <label for="exampleInputEmail1" class="form-label"></label>
      <input required type="text" name="name" placeholder="Name" class="name" id="exampleInputEmail1"
        aria-describedby="emailHelp">



    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input required type="text" name="message" class="message" id="exampleInputPassword1" placeholder="Message">

    </div>
    <div>
      <% if(err) {%>
        <small class="error">
          <%= err%>
        </small>
        <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>






  <% if (result.length> 0){

    result.forEach(element=>{
    var date =element.createdAt;
    var dd = String(date.getDate()).padStart(2, '0');
    var mm = String(date.getMonth() + 1).padStart(2, '0');
    var yyyy = date.getFullYear();
    date = mm + '/' + dd + '/' + yyyy;
    %>
    <div class="card" style="width: 18rem">
     
      <div class="card-body">
        <div>
          <h4 class="card-title">
            <%= element.name %>
          </h4>

          <h6 class="card-text">
            <%= element.message %>
          </h6>
        </div>
        <div>
          <p class="card-text">
            <%= date %>
          </p>
          <a href="/feed/<%= element._id %>"> See More </a>
        </div>


      </div>
    </div>

    <% }) } else{%>

      <h3> There is no record</h3>
      <% }%>
















        <%- include('./component/footer.ejs') %>